@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --yellow:#f5bf23;
  --black:#111;
  --white:#fff;
  --light-color:#666;
  --light-bg:#eee;
  --box-shadow:0px 5px 10px rgba(0,0,0,.3);
  --border: 3px solid rgba(0,0,0,.2);
}

* {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

section {
  padding: 5rem 8%;
}

.heading {
  margin-bottom: 3rem;
  font-size: 3rem;
  color: var(--black);
  text-transform: capitalize;
  padding-left: 1rem;
  border-left: 1rem solid var(--yellow);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: var(--black);
  color: var(--white);
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;
}
.btn:hover {
  background: var(--yellow);
}

.logo-slider .swiper-pagination-bullets {
  height: 10px;
  width: 10px;
}

.logo-slider .swiper-slide-button {
  color: #e1a52e;
  margin-top: -50px;
}

.logo-slider .swiper-slide-button:hover {
  color: #845903;
  transition: 0.2s ease;
}

@keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: var(--box-shadow);
  padding: 1.5rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background: var(--white);
}

.logo {
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
}
.logo span {
  color: var(--yellow);
}

.navbar a {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  margin: 0 1rem;
}
.navbar a:hover {
  color: var(--yellow);
}

.icons div {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  text-align: center;
  cursor: pointer;
  margin-left: 0.3rem;
}
.icons div:hover {
  background: var(--black);
  color: var(--white);
}

#menu-btn {
  display: none;
}

.search-form {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 70rem;
  background: var(--white);
  box-shadow: var(--box-shadow);
  padding: 1rem;
  display: none;
  align-items: center;
  gap: 1rem;
  animation: fadeIn 0.2s linear;
}
.search-form.active {
  display: flex;
}

input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  background: var(--light-bg);
  font-size: 1.6rem;
  color: var(--light-color);
}

label {
  font-size: 2.5rem;
  color: var(--black);
  cursor: pointer;
  margin: 0 1rem;
}
label:hover {
  color: var(--yellow);
}

.contact-info {
  position: fixed;
  top: 0;
  right: 0;
  width: 35rem;
  background: var(--white);
  height: 100%;
  text-align: center;
  z-index: 1100;
  padding: 0 2rem;
  padding-top: 5rem;
  display: none;
  transform: translateY(0);
  animation: fadeIn 0.4s linear;
}
.contact-info.active {
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  display: block;
}
.contact-info #close-btn {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 4rem;
  color: var(--black);
}
.contact-info #close-btn:hover {
  transform: rotate(90deg);
  color: var(--yellow);
}
.contact-info .info {
  padding: 2rem 0;
}
.contact-info .info i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  text-align: center;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.contact-info .info i:hover {
  background: var(--black);
  color: var(--white);
}
.contact-info h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  padding: 1rem 0;
}
.contact-info p {
  font-size: 1.5rem;
  color: #4b4a4a;
  line-height: 2;
}
.contact-info .share {
  padding-top: 1rem;
}
.contact-info .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  text-align: center;
  cursor: pointer;
  margin: 0.3rem;
}
.contact-info .share a:hover {
  background: var(--black);
  color: var(--white);
}

.home {
  padding: 0;
}
.home .slide {
  height: 90vh;
  display: flex;
  align-items: center;
  position: relative;
  background-size: cover !important;
  background-position: center;
}
.home .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 90vh;
  width: 100%;
}
.home .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 90vh;
  width: 100%;
}
.home .content {
  width: 50rem;
  position: relative;
}
.home .content h3 {
  font-size: 4.5rem;
  color: var(--black);
  text-transform: capitalize;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.home .content p {
  font-size: 2rem;
  color: #4b4a4a;
  line-height: 2;
  padding: 1rem 0;
  color: black;
  font-weight: 600;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.home .swiper-button-next,
.home .swiper-button-prev {
  top: initial;
  bottom: 0;
  left: initial;
  right: 0;
  height: 7rem;
  width: 7rem;
  line-height: 5rem;
  font-size: 3rem;
  background: var(--white);
}
.home .swiper-button-next:hover,
.home .swiper-button-prev:hover {
  background: var(--yellow);
}
.home .swiper-button-next::after,
.home .swiper-button-prev::after {
  font-size: 2rem;
  color: var(--black);
}
.home .swiper-button-prev {
  right: 7rem;
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.about .row .video {
  flex: 1 1 41rem;
}
.about .row video {
  width: 100%;
}
.about .content {
  flex: 1 1 41rem;
  height: auto;
  padding-bottom: 12px;
}
.about .content h3 {
  font-size: 3.5rem;
  color: var(--black);
  text-transform: capitalize;
}
.about .content p {
  font-size: 1.7rem;
  color: #4b4a4a;
  line-height: 2;
  padding: 1rem;
}
.about p {
  font-size: 1.7rem;
  color: #4b4a4a;
  line-height: 2;
  padding: 2rem 0;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
  align-items: flex-end;
}
.box-container .stats-box {
  text-align: center;
  background: var(--light-bg);
  padding: 3rem 2rem;
  height: 25rem;
}
.box-container .stats-box h3 {
  font-size: 4rem;
  color: var(--black);
  text-transform: capitalize;
}
.box-container .stats-box p {
  font-size: 2rem;
  color: #4b4a4a;
  line-height: 2;
  padding-top: 4rem;
}
.box-container .box {
  text-align: center;
  background: var(--light-bg);
  padding: 3rem 2rem;
  height: 40rem;
}
.box-container .box h3 {
  font-size: 4rem;
  color: var(--black);
  text-transform: capitalize;
}
.box-container .box p {
  font-size: 2rem;
  color: #4b4a4a;
  line-height: 2;
  padding-top: 4rem;
}

.services {
  background: var(--light-bg);
}
.services p {
  font-size: 1.8rem;
  color: #4b4a4a;
  line-height: 2;
  margin-bottom: 2rem;
}
.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  grid-template-columns: 3fr 3fr;
}
.services .box {
  text-align: center;
  padding: 1.4rem;
  background: var(--white);
  box-shadow: var(--box-shadow);
  border: var(--border);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.services .box:hover i {
  transform: translateY(-1rem);
}
.services .box i {
  width: auto;
  height: 200px;
  font-size: 8rem;
  padding-top: 2rem;
}
.services .box h3 {
  font-size: 1.9rem;
  color: var(--black);
  text-transform: capitalize;
  padding-top: 1.4rem;
}
.services .box p {
  font-size: 1.6rem;
  color: #4b4a4a;
  line-height: 2;
}

.projects {
  background: var(--black);
}

.projects .heading {
  color: white;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
  border-radius: 8px;
}

.card {
  width: 42rem;
  background-color: white;
  overflow: hidden;
  border-radius: 8px;
  height: 40rem;
}

.card:hover img {
  transform: scale(1.1);
}

.card img {
  width: 100%;
  height: 27rem;
}

.card-content {
  padding: 7px;
}

.card-content h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  margin-bottom: 5px;
}

.card-content p {
  font-size: 1.5rem;
  color: #4b4a4a;
  line-height: 2;
  line-height: 1.3;
}

#plus-sign {
  background-color: var(--yellow);
  color: var(--white);
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
}

.reviews .swiper-wrapper {
  margin-bottom: 4rem;
}
.reviews .slide p {
  padding: 1.5rem;
  background: var(--light-bg);
  position: relative;
  margin-bottom: 3rem;
  margin: 0 5px;
  height: 30rem;
  font-size: 1.7rem;
  color: #4b4a4a;
  line-height: 2;
}
.reviews .slide p::before {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  background: var(--light-bg);
  transform: rotate(45deg);
}
.reviews .slide .user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 15px 5px;
}
.reviews .slide .user img {
  height: 7rem;
  width: 7rem;
}
.reviews .slide .user h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
}
.reviews .slide .user .stars {
  padding-top: 0.5rem;
}
.reviews .slide .user .stars i {
  font-size: 1.7rem;
  color: var(--yellow);
}
.reviews .swiper-button-next,
.reviews .swiper-button-prev {
  top: initial;
  bottom: 0;
  left: initial;
  right: 0;
  height: 7rem;
  width: 7rem;
  line-height: 5rem;
  font-weight: 700;
  font-size: 3rem;
  background: var(--white);
  border: var(--border);
}
.reviews .swiper-button-next:hover,
.reviews .swiper-button-prev:hover {
  background: var(--yellow);
}
.reviews .swiper-button-next::after,
.reviews .swiper-button-prev::after {
  font-size: 2rem;
  color: var(--black);
}
.reviews .swiper-button-prev {
  right: 7rem;
}

.contact {
  background: var(--black);
}
.contact .heading {
  color: var(--white);
}
.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.contact .row .map {
  flex: 1 1 41rem;
  width: 100%;
  height: auto;
}
.contact .row form {
  flex: 1 1 41rem;
  background: var(--white);
  padding: 2rem;
}
.contact .row form h3 {
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
  padding-bottom: 1rem;
}
.contact .row form .box {
  margin: 0.7rem 0;
  width: 100%;
  padding: 1rem 1rem;
  border-bottom: var(--border);
  background: var(--light-bg);
  font-size: 1.6rem;
  color: var(--light-color);
}
.contact .row form .box:focus {
  border-color: var(--yellow);
}
.contact .row form textarea {
  height: 15rem;
  resize: none;
}
.contact .row #status {
  width: 50%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 5px auto;
  border-radius: 8px;
  font-size: 1.4rem;
  color: var(--white);
}
.contact .row #status.success {
  background-color: #7bc96f;
  animation: status 4s ease forwards;
}
.contact .row #status.error {
  background-color: #d6514a;
  animation: status 4s ease forwards;
}

.blogs {
  background: var(--light-bg);
}
.blogs .swiper-wrapper {
  padding-bottom: 4rem;
}
.blogs .slide {
  text-align: center;
}
.blogs .slide:hover .image img {
  transform: scale(1.1);
}
.blogs .slide .image {
  width: 98%;
  height: 25rem;
  overflow: hidden;
  margin-bottom: -10rem;
  margin: 0 auto;
}
.blogs .slide .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.blogs .slide .blog {
  padding: 2.7rem 1rem;
  height: auto;
  background: var(--white);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  margin: 0 5px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  overflow: hidden;
}
.blogs .slide .blog h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
}
.blogs .slide .blog h4 {
  font-size: 1.7rem;
  color: #4b4a4a;
  line-height: 2;
}
.blogs .slide .blog p {
  padding: 0.6rem 0;
  font-size: 1.5rem;
  color: #4b4a4a;
  line-height: 2;
}
.blogs .swiper-button-next,
.blogs .swiper-button-prev {
  top: initial;
  bottom: 0;
  left: initial;
  right: 0;
  height: 7rem;
  width: 7rem;
  line-height: 5rem;
  font-weight: 700;
  font-size: 3rem;
  background: var(--white);
  border: var(--border);
}
.blogs .swiper-button-next:hover,
.blogs .swiper-button-prev:hover {
  background: var(--yellow);
}
.blogs .swiper-button-next::after,
.blogs .swiper-button-prev::after {
  font-size: 2rem;
  color: var(--black);
}
.blogs .swiper-button-prev {
  right: 7rem;
}

.logo-container {
  text-align: center;
  background: black;
  padding-top: 5rem;
}
.logo-container .swiper-wrapper {
  padding-bottom: 3rem;
}
.logo-container .swiper {
  background: black;
}
.logo-container img {
  height: 10rem;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/*.footer{
    text-align: center;
    .links .btn{
        margin: .5rem;
    }
    .credit{
        @include titleText(2rem);
        margin-top: 2rem;
        padding-top: 1rem;
        span{
            color: var(--yellow);
        }
    }
}*/
/*Footer Section*/
footer {
  width: 100%;
  height: 100%;
  padding: 50px 100px;
  background: black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .footer-container .sec {
  margin-right: 30px;
}

footer .footer-container .sec.aboutus {
  width: 40%;
}

footer .footer-container h2 {
  position: relative;
  color: #fff;
  font-weight: 600;
  font-size: 2.2rem;
  margin-bottom: 15px;
}

footer .footer-container h2:before {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: var(--yellow);
}

footer p {
  color: var(--white);
  font-size: 1.5rem;
}

.sci {
  margin-top: 20px;
  display: flex;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}

.sci li a:hover {
  background: var(--yellow);
}

.sci li a .fab {
  color: #fff;
  font-size: 2.3rem;
}

.quickLinks {
  position: relative;
  width: 25%;
}

.quickLinks ul li {
  list-style: none;
}

.quickLinks ul li a {
  color: #fff;
  font-size: 1.6rem;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.quickLinks ul li a:hover {
  color: var(--yellow);
}

.footercontact {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.footercontact .info li {
  display: flex;
  margin-bottom: 16px;
  font-size: 1.6rem;
}

.footercontact .info li span:nth-child(1) {
  color: #fff;
  font-size: 1.6rem;
  margin-right: 10px;
}

.footercontact .info li span {
  color: #fff;
}

.footercontact .info li a {
  color: #fff;
  text-decoration: none;
}

.copyrightText {
  width: 100%;
  background: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
}

.copyrightText .credit {
  color: var(--yellow);
}

@media (max-width: 1400px) {
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 5%;
  }
  .projects-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 25px;
  }
  .projects-container .card {
    height: auto;
    width: auto;
  }
  .projects-container .card img {
    height: 26rem;
  }
  .reviews .slide p {
    height: auto;
  }
}
@media (max-width: 991px) {
  footer {
    padding: 40px;
  }
  .footer-container {
    flex-direction: column;
  }
  .footer-container .sec {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .footer-container .sec.aboutus,
  .quickLinks,
  .footercontact {
    width: 100% !important;
  }
  .copyrightText {
    padding: 8px 40px;
  }
  .projects-container {
    grid-template-columns: 2fr 2fr;
    margin-top: 30px;
    padding: 0 25px;
  }
  .projects-container .card {
    height: auto;
    width: auto;
  }
  .projects-container .card img {
    height: 26rem;
  }
  html, body {
    overflow-x: hidden;
    width: 100%;
  }
  .services .box {
    height: 45rem;
  }
  .services .box i {
    height: auto;
  }
  .services .box h3 {
    padding-top: 1rem;
  }
  .services .box p {
    padding-top: 1rem;
  }
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--white);
    border-top: var(--border);
    border-bottom: var(--border);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    margin: 2rem;
  }
  .home .slide {
    justify-content: flex-start;
  }
}
@media (max-width: 768px) {
  .header .search-form {
    width: 90%;
  }
  .home .slide {
    justify-content: flex-start;
  }
  .content h3 {
    font-size: 3rem;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  .box-container .box {
    height: auto;
  }
  .services .box-container {
    grid-template-columns: 2fr 2fr;
  }
  .services .box {
    height: 45rem;
  }
  .services .box i {
    height: auto;
  }
  .services .box h3 {
    padding-top: 1rem;
  }
  .services .box p {
    padding-top: 1rem;
  }
  .projects-container {
    grid-template-columns: 2fr 2fr;
    margin-top: 30px;
    padding: 0 25px;
  }
  .projects-container .card {
    height: auto;
    width: 38rem;
  }
  .projects-container .card img {
    height: 25rem;
  }
  .contact .row .map {
    height: 38rem;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
  .logo {
    font-size: 2rem;
  }
  .home .slide {
    height: 85vh;
    justify-content: flex-start;
  }
  .home .slide .content {
    padding-bottom: 2.5rem;
  }
  .heading {
    margin-bottom: 2rem;
  }
  .about .content {
    margin-bottom: 3rem;
  }
  .box-container {
    grid-template-columns: 2fr 2fr;
  }
  .box-container .box {
    height: auto;
  }
  .services .box-container {
    grid-template-columns: 1fr;
  }
  .services .box i {
    height: auto;
  }
  .services .box h3 {
    padding-top: 1rem;
  }
  .services .box p {
    padding-top: 1rem;
  }
  .projects-container {
    grid-template-columns: 1fr;
    margin-top: 30px;
    padding: 0 25px;
  }
  .projects-container .card {
    height: auto;
  }
  .projects-container .card img {
    height: 25rem;
  }
  #plus-sign {
    height: 38px;
  }
  .contact .row .map {
    height: 36rem;
  }
}/*# sourceMappingURL=style.css.map */